@model HotelsBooking.Models.EditUserViewModel;
@{
    ViewData["Title"] = "Edit User";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 cl-md-6 cl-md-offset-3">

            <form asp-action="EditUser" asp-controller="Admin" method="post">

                <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                </div>

                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input type="text" style="display:inline-block;" value="@Model.Email" asp-for="Email" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">First Name:</label>
                    <input type="text" value="@Model.FirstName" asp-for="FirstName" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Last Name:</label>
                    <input type="text" value="@Model.LastName" asp-for="LastName" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Phone Number:</label>
                    <input type="text" value="@Model.Phone" asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success text-center" style="width:20%" />
                </div>
            </form>
        </div>
    </div>
</body> 