@model IEnumerable<HotelsBooking.Models.HotelRoomConvsViewModel>
<link href="~/css/Admin.css" rel="stylesheet" />
<link href="~/css/ForTable.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div id="viewport">
        @await Html.PartialAsync("_AdminPartial")
        <div id="content" class="no-margin-top">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form asp-action="HotelRoomConvs" method="get" style="margin-top:15px">
                        <div class="form-actions no-color form-group">
                            <p>
                                <span style="font-weight:bold">Find by any option: </span>
                                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Search" class="btn btn-success" /> |
                                <a asp-action="HotelRoomConvs" style="font-weight:500">Back to Full List</a>

                            </p>
                        </div>
                    </form>
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr><th>List of conveniences for hotel room</th><th></th><th></th></tr>
                        <tr>
                            <th data-breakpoints="mobile"><a asp-action="HotelRoomConvs" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></th>
                            <th data-breakpoints="mobile tablet"><a asp-action="HotelRoomConvs" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a></th>
                            <th data-breakpoints="mobile tablet">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr><th colspan="3">No Conveniences</th></tr>
                        }
                        else
                        {
                            @foreach (var addConv in Model)
                            {
                                <tr>
                                    <td data-label="Name">@addConv.ConvName</td>
                                    <td data-label="Price">@Math.Round(addConv.Price, 2)</td>
                                    <td data-label="Actions">
                                        <form asp-action="DeleteHotelRoomConv" asp-controller="Admin">
                                            <button type="submit" class="btn btn-sm btn-outline-danger" asp-action="DeleteHotelRoomConv" asp-route-id="@addConv.Id" asp-route-hotelroomid="@addConv.HotelRoomId">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="button-center">
                    <a asp-action="AddConvForRoom" class="btn btn-success" asp-route-id="@ViewData["Id"]" asp-route-HotelId="@ViewData["HotelId"]">Add new room convenience</a>
                </div>
            </div>
        </div>
    </div>
</body>