@model IEnumerable<HotelsBooking.Models.OrdersViewModel>
<link href="~/css/Admin.css" rel="stylesheet" />
<link href="~/css/ForTable.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body class="no-padding-top">
    <div id="viewport">
        @await Html.PartialAsync("_AdminPartial")
        
        <div id="content" class="no-margin-top">
            <div class="row">
                <p class="text-black-50 text-center">List of orders</p>
                <table class="tablecounter table table-dark rwd-table text-center table-hover">
                    <thead class="thead-light  text-center">
                        <tr style="color:black" class="text-center">
                            <th class="text-center">User</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    @if (!Model.Any())
                    {
                        <tr><td colspan="3">No Orders</td></tr>
                    }
                    else
                    {

                        @foreach (var order in Model)
                        {

                            <tr>
                                <td>@order.FirstName @order.LastName</td>
                                @if (order.IsActive)
                                {
                                    <td style="color:lightseagreen">Active</td>
                                }
                                else
                                {
                                    <td style="color:red">Not Active</td>
                                }
                                <td>
                                    <form asp-action="DeleteOrder" asp-controller="Admin" asp-route-id="@order.Id">
                                        <a class="btn btn-sm btn-warning" asp-action="EditOrder" asp-route-id="@order.Id">Edit</a>
                                        <a class="btn btn-sm btn-primary" asp-action="OrderDetails" asp-route-id="@order.Id">Details</a>
                                        <button type="submit" class="btn btn-sm btn-danger" asp-action="DeleteOrder" asp-route-id="@order.Id">Delete</button>
                                    </form>
                                </td>
                            </tr>

                        }
                    }
                </table>
                <div class="text-center">
                    <a asp-action="CreateOrder" class="btn btn-success">Add new order</a>
                </div>
            </div>
        </div>
    </div>
</body>
