@model IEnumerable<Infrastructure.Entities.Order>
<link href="~/css/Admin.css" rel="stylesheet" />
<link href="~/css/ForTable.css" rel="stylesheet" />
<body>
    <div id="viewport">
        @await Html.PartialAsync("_AdminPartial")
        <div id="content">
            <div class="row">
                <table class="table table-dark rwd-table">
                    <tr><th>List of orders</th><th></th><th></th></tr>
                    <tr><th>User</th><th>Is Active</th><th>Actions</th></tr>
                    @if (!Model.Any())
                    {
                        <tr><td colspan="4">No Orders</td></tr>
                    }
                    else
                    {
                        @foreach (var order in Model)
                        {
                        <tr>
                            <td>(@order.User.FirstName + " " + @order.User.LastName)</td>
                            <td>@order.IsActive</td>
                            <td>
                                <form asp-action="DeleteOrder" asp-controller="Admin" asp-route-id="@order.Id">
                                    <a class="btn btn-sm btn-primary" asp-action="OrderDetails" asp-route-id="@order.Id">Open details</a>
                                    <button type="submit" class="btn btn-sm btn-danger" asp-action="DeleteOrder" asp-route-id="@order.Id">Delete</button>
                                </form>
                            </td>
                        </tr>
                        }
                    }
                </table>
                <div class="text-center">
                    <a asp-action="CreateOrder" class="btn btn-success" style="width:20%;">Add new order</a>
                </div>
            </div>
        </div>
    </div>
</body>
