@model IEnumerable<Infrastructure.Entities.AppUser>
<link href="~/css/Admin.css" rel="stylesheet" />
<link href="~/css/ForTable.css" rel="stylesheet" />
<body>
<div id="viewport">
    @await Html.PartialAsync("_AdminPartial")
    <div id="content">
        <div class="row">
            <table class="table table-dark rwd-table">
                <tr><th>List of users</th><th></th><th></th></tr>
                <tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Actions</th></tr>
                @if (!Model.Any())
                {
                    <tr><td colspan="4">No Users</td></tr>
                }
                else
                {
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>
                                <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id">
                                    <a class="btn btn-sm btn-warning" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id" >Change password</a>
                                    <button type="submit" class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id" >Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
            <div class="text-center">
                <a asp-action="CreateUser" class="btn btn-success" style="width:20%;">Add new user</a>
            </div>
        </div>
    </div>
</div>
</body>