@model IEnumerable<HotelsBooking.Models.UsersViewModel>
<link href="~/css/Admin.css" rel="stylesheet" />
<link href="~/css/ForTable.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div id="viewport">
        @await Html.PartialAsync("_AdminPartial")
        <div id="content" class="no-margin-top">
            <div class="row">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr><th>List of Users</th><th></th><th></th><th></th></tr>
                        <tr><th data-breakpoints="mobile">Email</th><th data-breakpoints="mobile tablet">First Name</th><th data-breakpoints="mobile tablet">Last Name</th><th data-breakpoints="mobile tablet">Actions</th></tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr><td colspan="4">No Users</td></tr>
                        }
                        else
                        {
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td data-label="Email">@user.Email</td>
                                    <td data-label="First Name">@user.FirstName</td>
                                    <td data-label="Last Name">@user.LastName</td>
                                    <td data-label="Actions">
                                        <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id">
                                            <a class="btn btn-sm btn-warning" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                                            <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                                            <button type="submit" class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="button-center">
                    <a asp-action="CreateUser" class="btn btn-success">Add new user</a>
                </div>
            </div>
        </div>
    </div>
</body>